


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.formContainer {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    width: 40vw;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
    padding: 4rem;

}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.nav-bg{
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,36,8,1) 57%);
}


.card-dark {
  background: #71BC78;
}
